@model Sparta_Global_Profile.Models.Employment

@{
    ViewData["Title"] = "Add Employment History";
}

<div class="profile-section">

    <h1>Create</h1>

    <h4>Employment</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProfileId" class="control-label">Profile Name</label>
                    <select asp-for="ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label">Company Name</label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position" class="control-label"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label"></label>
                    <textarea asp-for="Summary" class="form-control"></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">Start Date</label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label">End Date</label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />
    @if (ViewBag.Profile != "0")
    {
        <div>
            <a asp-action="Index" asp-route-id="@ViewBag.Profile"><button>Back to Education History</button></a>
            <a asp-controller="Profile" asp-action="Edit" asp-route-id="@ViewBag.Profile"><button>Back to Edit Profile</button></a>
        </div>
    }
    else
    {
        <div>
            <a asp-action="Index"><button>Back to Education History</button></a>
        </div>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
