﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    background-color: red;
    border-color: #1861ac;
}

.indexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "tahomaSparta";
}

h1, h2{
    font-family: "ddcSparta";
}

h3, h4, h5, h6{
    font-family: "glennSparta";
}
/*
button {
    background-color: #E33661 !important;
    border-style: none;
    border-radius: 2px;
    color: #fff;
}

input[type=submit] {
    background-color: #E33661 !important;
    color: #fff;
}

input[type=reset] {
    background-color: #411F50 !important;
    color: #fff;
}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.academy-stream{
    color: #E33661;
}

.pink-header {
    color: #E33661;
}

.pink-link-text {
    color: #E33661;
    text-decoration: underline;
}

.deep-pink-header {
    color: #94244A;
}
.hobby {
    color: #E33661;
    font-weight: bold;
}

.approved-pill {
    font-family: "glennSparta";
    display: inline-block;
    color:#E33661;
    font-size: 20px;
    padding: 3px;
    border-style:solid;
    border-color: #E33661;
    border-radius: 10px;

}

.body-card {
    width: 60vw;
    border-style: solid;
    border-width: 10px;
    border-color: #E33661;
    border-top-style: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0 20px 20px 20px;
    margin-top: -50px;
}
.video {
    margin-top: 60px;
    padding-bottom: 30px;
    width: 100%;
    height: 600px;
}

.profile-image{
    border-radius: 50px;
    border-style: solid;
}
@font-face { /* Used as titular font, headlines etc. */
    font-family: ddcSparta;
    src: url(ddc-hardware/ddc-hardware/ddc-hardware-personal/DDCHardware-Compressed.ttf);
}

@font-face { /* Used as the main body text font */
    font-family: tahomaSparta;
    src: url(Tahoma-Font/Tahoma\ Regular\ font.ttf);
}

@font-face { /* Used for subheadings or bolder statements */
    font-family: glennSparta;
    src: url(bwglennsansdemo-661278/Bw\ Glenn\ Sans\ DEMO/BwGlennSansDEMO-Black.otf)
}

/*

sparta-bright-pink: #E33661;

sparta-mid-gold: #EBAA1C;

sparta-deep-pink: #94244A;

sparta-purple: #411F50;

sparta-midnight: #1B0E1D;

sparta-green-navbar: #01181B;

*/

.navbar-custom{
    color: white !important;
    background-color: #01181B !important;
}

.brick-wall {
    background-image: url("~/Assets/brick-wall.jpg");
}

/*src="~/Assets/sparta-global-logo-white.svg"*/

.profile-section {
    width: 60vw;
    border-style: solid;
    border-width: 10px;
    border-color: #E33661;
    border-radius: 10px;
    padding: 40px;
    margin-top: 50px;
}

.profile-section h1 {
    text-decoration: underline;
}